---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import students from "../../assets/estudiantes-frente-a-hangares-de-ifly.webp";
import CounterCard from "../../components/CounterCard";
import stats from "../../data/stats";
import tecnico1 from "../../assets/tecnico-en-mantenimiento-revisando-avion-de-ifly.webp";
import tecnico2 from "../../assets/tecnico-haciendo-mantenimiento-a-avion-de-ifly.webp";
import IndexForm from "../../components/IndexForm.astro";

const data = {
  siteTitle:
    "Campus iFly - Instalaciones de Vanguardia para tu Formación en Aviación",
  siteDescription:
    "Conoce el campus de iFly, diseñado para ofrecer un ambiente óptimo de aprendizaje. Disfruta de aulas equipadas, simuladores de vuelo y áreas de práctica en un entorno moderno.",
  headerImage: "/src/assets/personal-de-ifly-dando-la-bienvenida.webp",
  headerAlt: "Personal de iFly dando la bienvenida",
  title: "Conoce Nuestro Campus",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <Header slot="header" data={data} />

  <section class="bg-main-black/5">
    <div
      class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col-reverse lg:flex-row gap-20 items-center"
    >
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2 class="uppercase text-main-black/80 tracking-widest">Campus</h2>
        <h3 class="text-4xl lg:text-5xl">Nuestras instalaciones</h3>
        <p class="text-main-black/70">
          iFly Universidad Aeronáutica cuenta con instalaciones de última
          generación dentro de las cuales los estudiantes podrán tomar su teoría
          y su adiestramiento en simulador, de igual manera, contamos con tres
          hangares y su propio taller aeronáutico que le brinda mantenimiento
          todos los días a las aeronaves.
        </p>
        <a href="/nosotros/historia" class="btn-primary">Sobre Nosotros</a>
      </div>
      <div class="flex-1 relative h-fit mr-5">
        <Image
          src={students}
          alt="Estudiante en iFly"
          class="rounded-xl z-10 relative"
        />
        <div
          class="absolute border-2 border-main-blue translate-x-5 -translate-y-5 rounded-xl inset-0"
        >
        </div>
      </div>
    </div>
  </section>

  <section class="bg-main-black/5">
    <div class="mx-auto max-w-7xl grid sm:grid-cols-2 lg:grid-cols-4">
      {
        stats.map((stat) => (
          <CounterCard
            client:only="react"
            value={stat.value}
            title={stat.title}
          />
        ))
      }
    </div>
  </section>

  <section class="pb-60 bg-main-black/5">
    <div class="max-w-7xl mx-auto px-5 py-24 flex flex-col lg:flex-row gap-20">
      <div class="flex-1 relative">
        <Image
          src={tecnico1}
          alt="Estudiante en iFly"
          class="rounded-xl z-10 lg:absolute max-h-72 lg:max-h-none lg:w-80 aspect-square object-cover top-0 left-0"
        />
        <Image
          src={tecnico2}
          alt="Estudiante en iFly"
          class="rounded-xl mt-10 lg:mt-0 z-10 lg:absolute max-h-72 lg:max-h-none lg:w-80 aspect-square object-cover bottom-0 right-0"
        />
        <div
          class="hidden lg:block lg:absolute inset-20 border-2 border-main-blue rounded-xl"
        >
        </div>
      </div>
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2 class="uppercase text-main-black/80 tracking-widest">
          Taller de mantenimiento
        </h2>
        <h3 class="text-4xl lg:text-5xl">Nuestro taller de mantenimiento</h3>
        <p class="text-main-black/70">
          Para la seguridad de nuestros estudiantes e instructores que día a día
          realizan sus prácticas de vuelo, contamos con un espacio que realiza
          el mantenimiento e inspecciones a las naves.
        </p>
        <p class="text-main-black/70">
          El taller da servicios de mantenimiento de 50, 100, 200, 1000 horas a
          las aeronaves con apego a las normas establecidas por la autoridad
          aeronáutica así como a los procedimientos establecidos por la empresa,
          cuenta con personal altamente calificado.
        </p>
        <a href="/programas/tecnico-en-mantenimiento" class="btn-primary"
          >Explora nuestro programa de técnico en mantenimiento</a
        >
      </div>
    </div>
  </section>

  <IndexForm />
</BaseLayout>
