---
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import students from "../../assets/estudiantes-graduados-de-la-universidad-de-ifly.webp";
import CounterCard from "../../components/CounterCard";
import stats from "../../data/stats";

const data = {
  siteTitle: "Nuestra Historia - iFly Universidad Aeronáutica",
  siteDescription:
    "Aprende sobre la historia de iFly, la primera universidad aeronáutica en México. Con años de experiencia en la formación de pilotos y profesionales de la aviación, somos líderes en la educación aeronáutica.",
  headerImage: "/src/assets/estudiantes-graduados-afuera-del-hangar.webp",
  headerAlt: "Estudiantes graduados de iFly",
  title: "Conoce Nuestros Inicios",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <Header slot="header" data={data} />

  <section>
    <div
      class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col-reverse lg:flex-row gap-20 items-center"
    >
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2 class="uppercase text-main-black/80 tracking-widest">
          Bienvenidos a iFly
        </h2>
        <h3 class="lg:text-5xl">
          Somos la primera universidad aeronáutica para pilotos aviadores en
          México
        </h3>
        <quote
          class="text-main-black/70 border-l-4 border-main-black pl-5 text-lg"
        >
          Para mí, es un gran honor darte la bienvenida a esta gran familia de
          aviación. Somos pilotos con dedicación, amor y “Pasión por la
          Aviación” ®.
        </quote>
        <p class="text-main-black/70">
          En iFly Universidad Aeronáutica estamos comprometidos con la formación
          de pilotos aviadores profesionales, con la más alta calidad y
          excelencia en la enseñanza, para que nuestros egresados sean los
          mejores pilotos de México.
        </p>
      </div>
      <div class="flex-1 relative h-fit mr-5">
        <Image
          src={students}
          alt="Estudiante en iFly"
          class="rounded-xl z-10 relative"
        />
        <div
          class="absolute border-2 border-main-blue translate-x-5 -translate-y-5 rounded-xl inset-0"
        >
        </div>
      </div>
    </div>
  </section>

  <section class="mx-auto max-w-7xl grid sm:grid-cols-2 lg:grid-cols-4">
    {
      stats.map((stat) => (
        <CounterCard
          client:only="react"
          value={stat.value}
          title={stat.title}
        />
      ))
    }
  </section>

  <section class="bg-our-story text-white relative bg-fixed bg-cover">
    <div class="absolute bg-main-black/80 w-full h-full z-0"></div>
    <div class="max-w-3xl mx-auto px-5 py-24 flex items-center z-10 relative">
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2 class="uppercase tracking-widest font-bold">Sobre nosotros</h2>
        <h3 class="text-4xl lg:text-5xl font-medium">Nuestra Historia</h3>
        <p class="text-lg">
          iFly Universidad Aeronáutica fue fundada el 6 de mayo de 2011 por el
          Capitán Julián Esquivel Calvillo en la Ciudad de Mérida, Yucatán, con
          el objetivo de formar a los mejores pilotos aviadores de México.
          Iniciando operaciones con un equipo de 40 personas entre directivos,
          administrativos, docentes, capitanes, controladores y técnicos en
          mantenimiento, todos comprometidos con la mejora de la aviación
          mexicana.
        </p>
        <p class="text-lg">
          En el año 2018 iFly obtuvo el Reconocimiento de Validez Oficial de
          Estudios (RVOE) de la carrera Aviation Management constituyéndose como
          la primera Universidad Aeronáutica para pilotos aviadores en México,
          así como la certificación de nuestro simulador Airbus A320.
        </p>
        <p>
          En diciembre de 2020 renovamos y ampliamos nuestra flota adquiriendo
          aeronaves de última generación, directamente desde la fábrica en
          Europa; convirtiéndonos así en la escuela con la flota más grande de
          Pipistrel Virus SW121 en América.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
