---
import Header from "~/components/Header.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { PHONE_NUMBER } from "~/consts";

const data = {
  siteTitle: "Thank you for contacting us - iFly Universidad Aeronáutica",
  siteDescription:
    "Thank you for contacting iFly Aeronautical University. We are excited to work with you soon. We will review your message and respond within 1-5 business days. You can also call us at 55 1234 5678.",
  headerImage: "/src/assets/personal-de-ifly.webp",
  headerAlt: "iFly staff",
  title: "Thank you for contacting us",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <Header slot="header" data={data} />
  <section class="flex justify-center">
    <div class="text-center lg:w-3/5 md:w-4/5">
      <h1 class="font-bold text-4xl py-10">Thank you for contacting us</h1>

      <!--Container for check-->
      <div class="flex flex-row justify-center">
        <!--circle of check-->
        <div class="bg-green-200 rounded-full py-3 px-4 mb-10">
          <!--check itself-->
          <div class="text-green-700 text-5xl">✓</div>
        </div>
      </div>

      <p class="px-5">
        Thank you for contacting iFly Aeronautical University. We are excited to
        work with you soon. We will review your message and respond within 1-5
        business days. You can also call us at <a
          href=`tel:${PHONE_NUMBER}`
          class="hover:underline hover:text-main-color">{PHONE_NUMBER}</a
        >.
        <!-- or email us at <a
          href=`mailto:${EMAIL_ADDRESS}`
          class="hover:underline hover:text-main-color">{EMAIL_ADDRESS}</a
        > -->
      </p>

      <div class="pt-10 flex flex-row justify-center">
        <a href="/">
          <div class="btn-primary mb-10 w-52">HOME</div>
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
