---
import Header from "~/components/Header.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";
import programs from "~/data/programs";
import { Image } from "astro:assets";

import students from "~/assets/estudiantes-graduados-de-la-universidad-de-ifly.webp";
import { FaTelegramPlane } from "react-icons/fa";
import { GiPlanetConquest } from "react-icons/gi";
import { BsGraphUpArrow } from "react-icons/bs";
import studentInHangar from "~/assets/estudiante-de-piloto-aviador.jpg";
import ProgramCard from "~/components/ProgramCard.astro";

const data = {
  siteTitle: "Why Become a Pilot? - Advantages of a Career in Aviation",
  siteDescription:
    "Discover the reasons to become a professional pilot. At iFly, we prepare you with high-level programs, recognized licenses, and all the necessary certifications to fly around the world.",
  headerImage: "/src/assets/pilotos-aviadores-enfrente-de-la-universidad.webp",
  headerAlt: "Pilots in front of the iFly university",
  title: "Why become a pilot?",
};
---

<BaseLayout siteTitle={data.siteTitle} siteDescription={data.siteDescription}>
  <Header slot="header" data={data} />

  <section class="bg-main-black/5">
    <div
      class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col lg:flex-row gap-20 items-center"
    >
      <div class="flex-1 relative h-fit mr-5">
        <Image
          src={students}
          alt="Estudiante en iFly"
          class="rounded-xl z-10 relative aspect-square object-cover"
        />
        <div
          class="absolute border-2 border-main-blue -translate-x-5 -translate-y-5 rounded-xl inset-0"
        >
        </div>
      </div>
      <div class="flex-1 flex justify-center flex-col gap-5">
        <h2 class="uppercase text-main-black/80 tracking-widest">
          ¿Why become a pilot?
        </h2>
        <h3 class="lg:text-5xl">
          What can you expect when you become a pilot?
        </h3>
        <p class="text-main-black/70 text-lg">
          At iFly, we offer you comprehensive training to become a professional
          pilot. Discover the advantages of studying at our university and the
          opportunities that await you upon graduation.
        </p>
        <ul class="flex flex-col gap-5">
          <li class="flex gap-5">
            <div class="p-3 bg-main-blue w-fit h-fit rounded-full">
              <GiPlanetConquest className="text-white size-6" />
            </div>
            <div>
              <p class="text-main-black/80 text-2xl font-medium">Oportunity</p>
              <p class="text-main-black/70 text-lg">
                iFly graduates work at airlines around the world, as our
                licenses are internationally recognized
              </p>
            </div>
          </li>
          <li class="flex gap-5">
            <div class="p-3 bg-main-blue w-fit h-fit rounded-full">
              <BsGraphUpArrow className="text-white size-6" />
            </div>
            <div>
              <p class="text-main-black/80 text-2xl font-medium">Growth</p>
              <p class="text-main-black/70 text-lg">
                Aviation is a growing industry with a high demand for
                professional pilots.
              </p>
            </div>
          </li>
          <li class="flex gap-5">
            <div class="p-3 bg-main-blue w-fit h-fit rounded-full">
              <FaTelegramPlane className="text-white size-6" />
            </div>
            <div>
              <p class="text-main-black/80 text-2xl font-medium">Freedom</p>
              <p class="text-main-black/70 text-lg">
                As a pilot, you will have the freedom to fly around the world
                and explore new destinations.
              </p>
            </div>
          </li>
        </ul>
        <a href="/contact" class="btn-primary">Register</a>
      </div>
    </div>
  </section>

  <section class="bg-main-black/5 pb-12">
    <div
      class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24 flex flex-col-reverse lg:flex-row lg:-space-x-20 -space-y-20 lg:space-y-0 items-center"
    >
      <div
        class="flex-1 flex justify-center flex-col gap-5 text-center mx-5 sm:mx-10 lg:mx-0 bg-white shadow-md p-5 lg:p-14 rounded-xl z-10"
      >
        <h2 class="uppercase text-main-black/80 tracking-widest">
          Words from our students
        </h2>
        <h3 class="text-lg sm:text-3xl lg:text-5xl">
          What do our students say?
        </h3>
        <quote class="text-main-black/70">
          "Training as a pilot at iFly was one of the best decisions I've made
          in my life and a great experience. If I were asked again, I would
          choose it without hesitation, as it allowed me to lay a solid
          foundation in my training as a pilot from both an academic and
          personal perspective."
        </quote>
        <cite class="text-main-black/90"
          >- Eduardo Lugán Aldaz (Piloto aviador)</cite
        >
      </div>
      <div class="flex-1 translate-y-20 lg:translate-y-0 relative">
        <Image
          src={studentInHangar}
          alt="Estudiante de piloto aviador"
          class="rounded-xl relative lg:h-[34rem] object-cover"
        />
        <div
          class="size-80 border-2 border-main-blue rounded-xl absolute -bottom-12 -left-28 -z-10 hidden lg:block"
        >
        </div>
      </div>
    </div>
  </section>

  <section class="bg-main-blue scroll-my-24" id="programas">
    <div class="max-w-xl lg:max-w-7xl mx-auto px-5 py-24">
      <div class="text-center flex flex-col gap-5 max-w-3xl mx-auto text-white">
        <h2 class="uppercase text-main-black/80 tracking-widest">
          Our Programs
        </h2>
        <h3 class="text-4xl lg:text-6xl">Explore Our Study Programs</h3>
        <p class="lg:text-lg">
          At iFly, we offer study programs to help you become a professional in
          aviation. Discover our programs and choose the one that best suits
          your needs.
        </p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-10 w-fit mx-auto">
        {
          programs.map((program) => (
            <ProgramCard
              title={program.data.title}
              description={program.data.description}
              imagePath={program.data.headerImage}
              url={program.data.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
