---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  keywords?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/src/assets/estudiante-en-ifly-mexico.jpg",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-BKXL1H65CL"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-BKXL1H65CL");
</script>

<!-- Schema -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "iFly Universidad Aeronáutica",
    "description": "iFly Universidad Aeronáutica es la primera universidad aeronáutica en México. Con años de experiencia en la formación de pilotos y profesionales de la aviación, somos líderes en la educación aeronáutica.",
    "keywords": "aviación, piloto, formación de pilotos, universidad aeronáutica, iFly, iFly Universidad Aeronáutica, escuela de aviación, escuela de pilotos, escuela de pilotos en México, escuela de aviación en México",
    "image": "https://www.ifly.com.mx/estudiantes-frente-a-hangares-de-ifly.webp",
    "logo": "https://www.ifly.com.mx/favicon.png",
    "telephone": "(999) 920-1318",
    "email": "info@iflymailer.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Edificio Plaza Península. Prolongación Paseo de Montejo x calle 47, Benito Juárez Norte",
      "addressLocality": "Mérida",
      "addressRegion": "Yucatán",
      "addressCountry": "MX",
      "postalCode": "97119"
    },
    "currenciesAccepted": "USD, MXN",
    "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
    "areaServed": {
      "@type": "Place",
      "geo": {
        "@type": "GeoCircle",
        "geoMidpoint": {
          "@type": "GeoCoordinates",
          "latitude": 21.02031728259662,
          "longitude": -89.619806
        },
        "geoRadius": 9000
      },
      "name": "Mérida, Yucatán, México"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "14"
    },
    "url": "https://www.ifly.com.mx",
    "priceRange": "$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 21.02031728259662,
      "longitude": -89.619806
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "08:00",
        "closes": "18:00"
      }
    ],
    "hasMap": "https://maps.app.goo.gl/xnquhkZFTguttGxo8",
    "photo": [
      {
        "@type": "ImageObject",
        "url": "https://www.ifly.com.mx/estudiantes-frente-a-hangares-de-ifly.webp",
        "description": "Estudiantes de iFly frente a los hangares de la universidad"
      }
    ],
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "Flight Instruction"
      },
      "priceCurrency": "MXN",
      "price": "Varies"
    }
  }
</script>
