---
import { Image } from "astro:assets";
import HeroImage from "/src/assets/estudiante-en-ifly-mexico.jpg";

const esData = {
  title: "La Universidad Principal de Formación de Pilotos de México",
  subtitle: "Convierte tu amor por volar en una carrera profesional",
  primaryButtonText: "Regístrate",
  secondaryButtonText: "Más Información",
};

const enData = {
  title: "Mexico's Premier Pilot Training University",
  subtitle: "Turn your love for flying into a professional career",
  primaryButtonText: "Register",
  secondaryButtonText: "Learn More",
};

const data = Astro.currentLocale === "en" ? enData : esData;
---

<header
  class="relative isolate pt-14 overflow-hidden h-screen sm:h-[60vh] lg:h-screen text-white flex
    items-center"
>
  <Image
    src={HeroImage}
    alt="Estudiante en iFly"
    class="absolute top-0 w-full h-full object-cover -z-50"
    quality={100}
  />

  <div class="absolute inset-0 bg-main-black/60 -z-40"></div>

  <div class="flex w-full max-w-7xl mx-auto px-5">
    <div class="flex flex-col gap-4 lg:gap-8 mx-auto items-center">
      <h1
        class="text-4xl max-w-xl lg:text-7xl font-medium text-center lg:max-w-4xl"
      >
        {data.title}
      </h1>
      <h2
        class="text-xl max-w-xl lg:text-3xl text-center lg:max-w-2xl text-gray-200"
      >
        {data.subtitle}
      </h2>
      <div class="flex gap-5 flex-col sm:flex-row">
        <a href="/contacto" class="btn-primary w-full sm:w-fit"
          >{data.primaryButtonText}</a
        >
        <a href="#bienvenido" class="btn-secondary w-full sm:w-fit"
          >{data.secondaryButtonText}</a
        >
      </div>
    </div>
  </div>
</header>
