---
import { Image } from "astro:assets";
import { FaDotCircle } from "react-icons/fa";
import { IoMdAirplane } from "react-icons/io";
import type { ImageMetadata } from "astro";
import FAQs from "../components/FAQs";
import { sequence } from "astro:middleware";
import ProgramForm from "../components/ProgramForm.astro";

const { data } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);

const esData = {
  title: "Sobre la carrera",
  sidebarTitle: "¿Qué necesitas para comenzar?",
  sidebarNote: "*Documentos en original y cuatro copias simples.",
  primaryButton: "Regístrate",
  secondaryButton: "Más información",
  sidebarTitle2: "Agenda una visita",
  sidebarText:
    "¿Quieres conocer más sobre la carrera? Agenda una visita a nuestro campus y conoce a uno de nuestros instructores certificados.",
};

const enData = {
  title: "About the program",
  sidebarTitle: "What do you need to start?",
  sidebarNote: "*Documents in original and four simple copies.",
  primaryButton: "Sign up",
  secondaryButton: "More information",
  sidebarTitle2: "Schedule a visit",
  sidebarText:
    "Do you want to know more about the program? Schedule a visit to our campus and meet one of our certified instructors.",
};

const lang = Astro.currentLocale === "en" ? "en" : "es";
const info = Astro.currentLocale === "en" ? enData : esData;
---

<section class="py-12 px-5 bg-main-black/10 lg:pb-60">
  <div class="max-w-7xl mx-auto flex flex-col lg:flex-row gap-20">
    <div class="flex-[2_2_0] flex flex-col gap-5">
      <Image
        src={images[data.primaryImage]()}
        alt={data.primaryAlt}
        class="rounded-xl aspect-video object-cover w-full"
      />
      <div class="flex flex-col gap-5 mt-10">
        <h2 class="text-5xl">{info.title}</h2>
        {
          data.intro.map((intro) => (
            <p class="text-main-black/80 lg:text-lg" set:html={intro} />
          ))
        }
      </div>
      <FAQs faqs={data.faqs} lang={lang} client:visible />
    </div>
    <aside class="flex-1 flex flex-col gap-10 max-w-xl mx-auto">
      <div class="bg-white rounded-xl p-10 flex flex-col gap-5 shadow-sm">
        <h4 class="text-3xl">{info.sidebarTitle}</h4>
        <hr />
        <ul class="flex flex-col gap-2 my-3">
          {
            data.prerequisites.map((step) => (
              <li class="flex items-center gap-2 text-main-black/80">
                <FaDotCircle className="text-main-blue size-3 shrink-0" />
                <div set:html={step} />
              </li>
            ))
          }
        </ul>
        <p class="font-medium">
          {info.sidebarNote}
        </p>
        <a href="#sign-up-form" class="btn-primary w-full"
          >{info.primaryButton}</a
        >
      </div>

      <div class="bg-white rounded-xl p-10 flex flex-col gap-5 shadow-sm">
        <div class="bg-main-blue w-fit rounded-full p-3">
          <IoMdAirplane className="size-10 text-main-black" />
        </div>
        <h4 class="text-3xl">{info.sidebarTitle2}</h4>
        <hr />
        <p class="text-main-black/80 lg:text-lg">
          {info.sidebarText}
        </p>
        <a
          href="/contacto"
          class="btn-secondary w-full border-main-black text-main-black hover:bg-main-black/10"
          >{info.secondaryButton}</a
        >
      </div>
    </aside>
  </div>
</section>

<ProgramForm programTitle={data.title} />
